
.items .item{
    padding: 50px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}
.items{
    padding: 20px 5%;
}





@media  screen and (max-width: 712px) and (orientation: portrait) {
    .items .item{

        padding: 50px 5%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1em;
    }
}